{% set title = 'Variantes Inciertas | Variantes Clínicas | VISUAL GENOMA' %}
{% set header = 'Variantes Inciertas' %}
{% set active_menu = 'clinvar' %}
{% set breadcrumbs = ['Variantes', 'Clínicas', 'Inciertas'] %}

{% extends 'layout.html.twig' %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    
    <div class="info-box bg-navy">
      <span class="info-box-icon"><i class="fa fa-fw fa fa-heart heart-animation"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">SIGNIFICADO INCIERTO (<strong>{{ records | length }}</strong>)</span>
        {#<span class="info-box-number">{{ records | length }}</span>#}
        <div class="info-box-text">
                    <p style="text-transform: none; white-space: normal; word-wrap: break-word;">Esta clasificación significa que no existen suficientes estudios sobre la variante para establecer su impacto.</p>
        </div>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
    
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

{% include '/variants/clinical_grid.html.twig' %}

{% endblock %}
