{% set title = 'Acerca de Visual Genoma | Visual Genoma' %}
{% set header = 'Acerca de Visual Genoma' %}
{% set header_opt = 'Conozca más sobre la solución más avanzada de visualización de información genética' %}
{% set active_menu = 'about' %}
{% set breadcrumbs = ['Visual Genoma','Acerca de'] %}

{% extends 'layout.html.twig' %}

{% block content %}

<!-- ------------------------------------------------------------------------------------------------------------- -->
<div class="row">
  <div class="col-md-12">
     <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              <i class="fa fa-fw fa-users" aria-hidden="true"></i> 
              ¿Quiénes somos?
            </h3>
            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body" style="font-size: 18px;">
            <p>
              Somos <strong>I'magen</strong> un equpo de desarrolladores freelance, apasionados por la investigación y la informática.
            </p>
            <p>
              En colaboración con Patricio Yankilevich, doctor en biología molecular e investigador del CONICET, que está involucrado en el procesamiento y anotación de archivos genéticos para la medicina personalizada, pudimos entender la necesidad que nos planteaba y trabajar en conjunto para desarrollar el proyecto Visual Genoma.
            </p>
          </div>
          <!-- /.box-body -->
       </div>
       <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
<!-- ------------------------------------------------------------------------------------------------------------- -->
<div class="row">
  <div class="col-md-12">
     <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              <i class="fa fa-fw fa-bullseye" aria-hidden="true"></i>
              ¿Cuál es nuestro objetivo?
            </h3>
            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body" style="font-size: 18px;">
            <p>
              Nuestro objetivo es ayudar a la medicina tradicional a encontrar respuestas más allá de los análisis convencionales. Es por eso que apuntamos a que todo el mundo pueda beneficiarse con nuestra plataforma de procesamiento de archivos de información genómica. Somos líderes y vanguardistas en el desarrollo de este tipo de soluciones para asistir a todas las personas a conocerse desde adentro.
            </p>
          </div>
          <!-- /.box-body -->
       </div>
       <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
<!-- ------------------------------------------------------------------------------------------------------------- -->
<div class="row">
  <div class="col-md-12">
     <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              <i class="fa fa-fw fa-lightbulb-o" aria-hidden="true"></i>
              ¿Cuál es nuestra misión?
            </h3>
            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body" style="font-size: 18px;">
            <p>
              Llevar nuestro producto al mercado internacional de la medicina genómica.
            </p>
          </div>
          <!-- /.box-body -->
       </div>
       <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<!-- ------------------------------------------------------------------------------------------------------------- -->
<div class="row">
  <div class="col-md-12">
     <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              <i class="fa fa-fw fa-eye" aria-hidden="true"></i> 
              ¿Cuál es nuestra visión?
            </h3>
            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body" style="font-size: 18px;">
            <p>
              Ser líderes y vanguardistas en el desarrollo de soluciones bioinformáticas en el ámbito de la medicina genómica.
            </p>
          </div>
          <!-- /.box-body -->
       </div>
       <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<!-- ------------------------------------------------------------------------------------------------------------- -->
<div class="row">
  <div class="col-md-12">
     <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              <i class="fa fa-fw fa-envira" aria-hidden="true"></i> 
              ¿Por qué nace Visual Genoma?
            </h3>
            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body" style="font-size: 18px;">
            <p>
              El genoma es el conjunto de información genética (genes), codificada en una o varias moléculas de ADN contenida en 23 pares de cromosomas.
            </p>
            <p>
              Nuestro genoma puede ser interpretado por equipos informáticos y representados por una gran secuencia de datos. Que, generalmente, son almacenados en archivos de cientos de megas que contienen miles o millones de registros.
            </p>
            <p>
              Si bien el estudio de nuestro genoma puede brindarnos mucha información acerca de nosotros mismos, por lo general tiene muchos datos técnicos, lo que lo hace difícil de interpretar. Sin mencionar el tiempo de filtrado y búsqueda de información requerido. Es un proceso complejo que requiere de muchos conocimientos teóricos en la materia.  
            </p>
          </div>
          <!-- /.box-body -->
       </div>
       <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<!-- ------------------------------------------------------------------------------------------------------------- -->
<div class="row">
  <div class="col-md-12">
     <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              <i class="fa fa-fw fa-shield" aria-hidden="true"></i> 
              ¿Qué es Visual Genoma?
            </h3>
            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body" style="font-size: 18px;">
            <p>
              Visual Genoma es una herramienta de análisis e interpretación de genomas humanos orientado a usuarios sin conocimientos en genética. 
            </p>
            <p>
              Visual Genoma permite obtener informes interactivos y comprensibles que contienen una valiosa colección de datos biológicos, presentados de forma sencilla. Estos informes tienen asociados los marcadores de riesgo de enfermedades genéticas.
            </p>
            <p>
              Además, permite consultar el listado completo de variantes genómicas identificadas en el proceso, que son usados para presentar estadísticas e información clínica adicional. 
            </p>
          </div>
          <!-- /.box-body -->
       </div>
       <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<!-- ------------------------------------------------------------------------------------------------------------- -->
<div class="row">
  <div class="col-md-12">
     <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              <i class="fa fa-fw fa-bookmark" aria-hidden="true"></i> 
              ¿En qué se destaca Visual Genoma?
            </h3>
            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body" style="font-size: 18px;">
            <p>
              Si bien el estudio del genoma humano es algo relativamente moderno, existen herramientas que permiten su análisis. A diferencia de otras plataformas del mercado, Visual Genoma es una solución que pone al alcance de cualquiera todo el potencial de la medicina personalizada o genómica. Centrando su eje en la prevención y concientización de enfermedades.
            </p>
          </div>
          <!-- /.box-body -->
       </div>
       <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

<!-- ------------------------------------------------------------------------------------------------------------- -->
<div class="row">
  <div class="col-md-12">
     <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              <i class="fa fa-fw fa-puzzle-piece" aria-hidden="true"></i> 
              ¿Qué puedo hacer en Visual Genoma?
            </h3>
            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body" style="font-size: 18px;">
            <p>
              Luego de carga su archivo genómico (VCF) podrá acceder a las siguientes funcinalidades:
            </p>
            <ul>
              <li>
                <strong>Informe Clínico:</strong> Conozca enfermedades asociadas a las mutaciones de su genoma
              </li>
              <li>
                <strong>Anatograma:</strong> Observe los tejidos del cuerpo humano y cada una de las variantes genéticas asociadas
              </li>
              <li>
                <strong>Informe de Ancestría:</strong> Consulte información sobre sus ancestros separados de forma geográfica
              </li>
              <li>
                <strong>Listado de Variantes:</strong> Consulte el listado de las diferentes mutaciones de su genoma
              </li>
              <li>
                <strong>Navegador del Genoma:</strong> Explore su genoma con una herramienta de uso profesional
              </li>
              <li>
                <strong>Estadísticas:</strong> Acceda a estadísticas sobre sus datos genéticos
              </li>
              <li>
                <strong>Reportes:</strong> Exporte sus datos genéticos
              </li>
            </ul>
            
          </div>
          <!-- /.box-body -->
       </div>
       <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->


{% endblock %}