{% set title = '# | Cromosomas | VISUAL GENOMA' %}
{% set header = 'Cromosomas' %}
{% set header_opt = 'Estructuras formadas por ADN y proteínas que contiene la mayor parte de la información genética' %}
{% set active_menu = 'chromosome' %}
{% set breadcrumbs = ['Visual Genoma','Cromosomas','Cromosoma #'] %}

{% extends 'layout.html.twig' %}

{% block content %}  
<!-- Main content -->
<div class="row">
  <div class="col-md-3">

    <div class="box box-solid">
      <div class="box-body no-padding">

      </div>
      <!-- /.box-body -->
    </div>
    <!-- /. box -->

  </div>
  <!-- /.col -->
  
  <div class="col-md-9">
      
      <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-fw fa-medkit" aria-hidden="true"></i> Cromosoma</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">

          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
        
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
{% endblock %}

{% block scripts %}
{% endblock %}